/*selector universal*/
/* * {
  color:white
} */
/*selector*/
p{
  color: white;
  /*
  background-color: cornflowerblue;
  background-color: rgb(25, 65, 208);
  background-color: #21a04b;
  background-color: hsl(0, 100%, 50%);
  background-color: rgba(100, 148, 237, 0.79);
  */
  background-color:rgb(0, 132, 255);
  font-size: 0.6rem;
  font-weight: 900;
  /* transition-duration: 0.8s; suavidad de tonalidad del cambio del color al pasar el cursor  */
  /*
  border-width: 5px;
  border-color: black;
  border-style: double;
  border: 2px solid black;
  */
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-radius: 35px;
  width: 120px;

  /*
  distancia entre un elemento y otro
  margin: 50px;

  valores en el sentido de las agujas del reloj
  */
  margin: 30px 20px 20px 30px;

  /*distancia del contenido con respecto al borde*/
  padding: 20px 20px 20px;
  /*el padding funciona dentro de la caja y el margin fuera de la caja*/
  outline: 2px solid rgb(0, 132, 255);
  /*para situar el texto de una caja*/
  text-align: center;
  /*sombra del texto*/
  text-shadow: 2px 2px 3px black;
  /*tipo de letra*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* cambio de tonalidad del boton al pasar el selector */
p:hover{
  background-color: rgba(8, 48, 180, 0.795);
  /* suavidad de tonalidad del cambio del color al pasar el cursor */
  transition-duration: 0.8s;
}

/*
pseudo clases
manejan un estado de los elementos HTML
*/

/*color cuando ya visite el link*/
a:visited{
  color:green
}
/*cuando no he visitado el link*/
a:link{
  color:reds
}
/*cuando le doy click en el link*/
a:active{
  color:blue
}
/*cambia el color del borde cuando se entra en foco con ele elemento*/
div:focus{
border-color: black;
}
div{
  color: black;
}
#letras{
  color: white;
}

/*
pseudo elementos 
manejan una parte especifica del elemento
*/

p::first-letter{
  font-size: 35px;
}

p::first-line{
  color:chocolate;
}

p::after{
  content:"Adios";
}

p::before{
  content:"Hola";
}

/* esta es la modificacion del body en general */
body{
  background-image: url('../imagenes/paisajes\ naturales.jpg');
  background-repeat: no-repeat;
  background-size: 1300px;
  background-position: center;
}

